.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 2rem;
  justify-items: center;
}

.search_card {
  background-color: var(--primary-grey-color);
  border-radius: 0.4rem;
  height: 20rem;
}
