@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

input {
  border: 1px solid silver;
  height: 2rem;
  border-radius: .3rem;
  padding: 8px 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  height: 2rem;
  width: 100%;
  border: 1px solid var(--primary-blue-color);
  background-color: var(--primary-blue-color);
  border-radius: .3rem;
  color: white;
}

button:hover {
  border-color: var(--primary-dark-blue-color);
  background-color: var(--primary-dark-blue-color);
  transform: translateY(-2px);
}